@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
  margin:0px;
  padding:0px;
  }

body,html
  {
 height :100%;
  width:100%;
    font-family: 'Times New Roman', Times, serif;
}
.container
{
    height: 100%;
    width: 100%;
    background-color: transparent;
    color:black;
}
.nav
{
    display:flex ;
    justify-content: space-around;
    gap:400px;
}
.navh1
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: 20px 0px;
}

.nav-menu ul
{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:60px;
    margin: 60px 0px;
}
.nav-menu ul
{
    list-style: none;
}
.nav-menu ul li a
{
    text-decoration:none;
    color:black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
.page1
{
    height: 100%;
    width: 100%;
}
.page1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.seperation
{
    height: 1px;
    background-color: black;
    position: absolute;
    top:500px;
}
.page2
{
    height: 50vh;
    width: 100%;
    color:black;
    display: flex;
    margin: 27px 30px;
    
}
.page2 .left
{
    height: 100%;
    width: 60%;
}
.page2 .left h1{
    font-size: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.774);
    margin: 0px 100px;
    word-spacing: 5px;
}
.page2 .right
{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 0px;
}
.page2 .right h2
{
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    word-spacing:2px ;
}
.page3
{
    height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    position: relative;
}
.page3 .left
{
    height: 100%;
    width: 50%;
}
.page3 .left img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:top;
    /* z-index:-1; */
    position: relative;
}
.page3 .left h1{
    font-size: 30px;
    color:white;
    background-color: rgba(0, 0, 0, 0.131);
    position: absolute;
    top:100vh;
    left:15vh;
    font-weight: 300;
}

.page3 .right
{
    height: 100%;
    width: 50%;
}
.page3 .right img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:top;
    /* z-index:-1; */
    position: relative;
}
.page3 .right h1{
    font-size: 30px;
    color:white;
    position: absolute;
    top:100vh;
    left:118vh;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.131);
}   
.page3 .right img:hover
{
    height:99%;
    width: 99%;
    object-fit: cover;
    object-position:center;
    margin: 1px 1px 1px 1px;
    transition: all ease 1s;
    border-radius: 2px solid red;
    /* z-index:-1; */
}
.page3 .left img:hover
{
    height:99%;
    width: 99%;
    object-fit: cover;
    object-position:center;
    margin: 1px 1px 1px 1px;
    transition: all ease .8s;
    border-radius: 2px solid red;
    /* z-index:-1; */
}
.page4
{
    height: 170vh;
    width: 100%;  
    color:black;
    position: relative;
    top:70px;
}
.page4 h4{
    text-align: center;
    font-size: 13px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.471);
    font-family: 'Roboto', sans-serif;
    word-spacing: 0px;
}
.page4 h1{
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}
.boxes
{
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
}
.box1
{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    position: relative;
    top:150px;
}
.box
{
    height:450px;
    width: 420px;
    z-index: -1;
    background-color: black;
    z-index: 1;
}
.box img{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -9;
}
.box h3
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: relative;
    top:250px;
    position: absolute;
    color:white;
    margin: 170px 90px;
}
.box h3:nth-child(2)
{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    padding:30px 30px;
    position: absolute;
display: flex;
justify-content: center;
align-items: center;
margin:110px 120px;
}
.box2
{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    position: relative;
    top:120px;
}
.box
{
    height:400px;
    width: 420px;
    z-index: -1;
    background-color: black;
    z-index: 1;
}
.box img{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -9;
}
.box h3
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: relative;
    top:250px;
    position: absolute;
    color:white;
    margin: 30px 90px;
}
.box h3:nth-child(2)
{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    padding:30px 30px;
    position: absolute;
display: flex;
justify-content: center;
align-items: center;
margin: -40px 120px;
}
.box .top{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}
.seperation1
{
    height: 1px;
    background-color: black;
    position: relative;
    top:440px;
}
.page5
{
    height: 100vh;
    width: 100%;
    color:black;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top:100px;
}
.page5 h1{
    font-size: 38.4px;
    position: relative;
    top:150px;
}
.page5 p{
    font-size: 18px;
    padding:30px 29px;
    line-height: 33.48px;
}
.p5-1
{
display: flex;
justify-content: space-around;
align-items: start;
}
.img5
{
    height: 480px;
    width: 400px;
}
.page6
{
    height: 200vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column ;
    position: relative;
}
.page61
{   
    height: 200vh;
    width: 100%;
   background-color: black;
    color:white;
    font-size: 99px;
    display: flex;
    position: relative;
}
.page6 img
{
    height: 600px;
    width: 550px;
    object-fit: cover;
}
.page6-nav .nav2
{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.flex
{
    position: absolute;
    top:500px;
    font-size: 20px;
    color:white;
}
.flex ul
{
    display: flex;
    list-style: none;
    }
.flex ul li a
{
text-decoration: none;
color:white;
 padding:20px 25px;
 margin: 0px 30px;
}
.flex2
{
    position: absolute;
    top:700px;
    font-size: 20px;
    color:white;
}
.flex2 ul
{
    display: flex;
    list-style: none;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content: center;
    margin: 40px 50px ;
    }
.flex2 ul li a
{
font-size: 25px;
text-decoration: none;
color:white;
 padding:20px 25px;
 margin: 0px 30px;
}
.flex2 img
{
    height: 400px;
    width: 500px;
    object-fit: cover;
    margin: 0px 0px;
}
.for
{
    font-size: 180px;
    position: absolute;
    top:100px;   
    left:300px;
    rotate: 270deg;
}
.para
{
    font-size: 90px;
    position: absolute;
    top:0px;   
    left:900px;
}
.page7
{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.page7 h4{
    text-align: center;
    margin: 80px 20px;
    font-weight: 400;
}
.lastbox
{
    display: flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
    align-items: center;
}
.boxe
{
    height:228px;
    width: 228px;
    z-index: -1;
    background-color: black;
    z-index: 1;
}
.boxe img{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -9;
}
.footer
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:30px;
}